// define the path to the reference file

params.ref="/scratch/work/courses/BI7653/hw3.2023/hg38/Homo_sapiens.GRCh38.dna_sm.primary_assembly.normalized.fa"

//define the directory that contains the index files

params.dir_ref_files='/scratch/work/courses/BI7653/hw3.2023/hg38/'

// path to gtf file for star 

params.gtf="/scratch/rj931/tf_sle_project/hg38.knownGene.gtf.gz"


// define the path to the pair-end reads


params.input= []      
//params.read_f=$read_f
//params.read_r=$read_r

// *_{1,2}*.fastq.gz


// define the path to the text containing the reads names

params.file_names="/scratch/work/courses/BI7653/hw2.2023/week2_fastqs.txt"


// define the executor and resources

process{
executor='slurm'
cpus=10
memory={15.GB*task.attempt}
time={30.min*task.attempt}
withName:fastp{time='1.h'}
withName:star{time='12.h'}
withName:star_align{time='12.h'}

withName:r_featurecounts {
time='12.h'
container = '/scratch/rj931/containers/r_container.sif'
}




//withName:bg_fastp{time='1.h'}
//withName:bg_bwa{time='3.h'}
}


process.module = "singularity-ce/3.11.0"
singularity.enabled = true
singularity.autoMounts = true
